
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.SignOut{
  background-color: black;
  color: #ffffff;
  margin-top: 3%;
  cursor: pointer;
}

header{
  color: #ffffff;
}

.messages{
  font-size: 12;
  color: #ffffff;
}

div form input{
  margin-right: 5%;
  cursor:pointer;
}

div form button{
  color: #ffffff;
  background-color: black;
  width: 7%;
  cursor:pointer;
}

div img{
  border-radius: 50%;
  border: 2px solid black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}